{% extends "babyoda/index.html" %}

{% load static %}

{% block import%}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static 'css/evento.css' %}">

{% endblock %}


{% block content%}

    <div class="conteiner__evento">
        <h1 class="titulo">Onde você irá me encontrar? </h1>

        <div class="local"> <span class="negrito">Dia:</span> 10/04/2021</div>
        <div class="local"> <span class="negrito">Horário:</span> 15h às 17h </div>
        <div class="local"> <span class="negrito">Endereço:</span> QNM 36 Conjunto A2 Casa 07 </div>
        <div class="local"> M-Norte - Atrás do JK Shopping </div>
        
        <div class="conteiner__mapa">
            <a href="https://www.google.com/maps/dir//-15.8076391,-48.0963829/@-15.8078249,-48.0962702,19z/data=!4m2!4m1!3e0" target="_blank">
               <img src="{% static 'imagens/mapa.jpg' %}" height='250px' width='300px' class="mapa__imagem">
            </a>
        </div>

    </div>
    
    <!--<script src="{% static 'js/mapa.js' %}"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIQk4jxHzUYCiboR2VEqpXk2G1PFNTMPo&callback=initMap&libraries=&v=weekly"
      async
    ></script>-->


{% endblock %}