{% extends "babyoda/index.html" %}

{% load static %}

{% block import%}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static 'css/evento.css' %}">

{% endblock %}


{% block content%}

    <div class="conteiner__evento">
        <h1 class="titulo">Onde você irá me encontrar? </h1>

        <div class="local"> <span class="negrito">Dia:</span> 10/04/2021</div>
        <div class="local"> <span class="negrito">Horário:</span> 15h às 17h </div>
        <div class="local"> <span class="negrito">Endereço:</span> QNM 36 Conjunto A2 Casa 07 </div>
        <div class="local"> M-Norte - Atrás do JK Shopping </div>
        
        <div class="conteiner__mapa">
            <a href="https://www.google.com/maps/place/St.+M-Norte+-+Taguatinga,+Bras%C3%ADlia+-+DF,+72145-631/@-15.8076035,-48.096665,20z/data=!4m5!3m4!1s0x935bccbe870c258d:0x280310997b953100!8m2!3d-15.8074831!4d-48.0972555" target="_blank">
                <div id="map"></div>
            </a>
        </div>

    </div>
    
    <script src="{% static 'js/mapa.js' %}"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIQk4jxHzUYCiboR2VEqpXk2G1PFNTMPo&callback=initMap&libraries=&v=weekly"
      async
    ></script>


{% endblock %}