{% extends "babyoda/index.html" %}

{% load static %}

{% block import%}

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}


{% block content%}

    <div class='conteiner__home'>
        <h1 class='titulo'>
            Queridxs tios e tias,
        </h1>

        <div class='conteudo'>
            <div class='conteudo__paragrafo'>Gostaríamos demais de estar perto nesse momento, de fazer um chá delícia recheado de abraços, comida e animação, como mamãe e papai adoram, mas infelizmente, não será possível.</div>
            
            
            <div class='conteudo__paragrafo'>Confesso que estamos chateados com a situação. <br> Mas deram uma ideia para meus futuros pais, que acreditamos, diminuirá um pouquinho a saudade de todos de forma segura e, vocês poderão me ver no barrigão da mamãe!</div>
            
            <div class='conteudo__paragrafo'>
                Faremos uma charreata!!! 💚
                <br>
                <br>
                <span class='conteudo__titulo_cor'>Dia: 10/04/2021 </span>
                <br>
                <span class='conteudo__titulo_cor'>Horário: 15h às 17h</span>
                <br>
                <span class='conteudo__titulo_cor'>Local: QNM 36 conjunto A2 casa 07
                <br>
                M Norte (atrás do JK Shopping)</span>
            </div>
            
            <div class='conteudo__paragrafo'> Para quem mora longe, “lonjão”, e não poderá estar presente, fizemos esse site para que possam fazer parte desse momento conosco. 💚💚💚</div>
            <div class='conteudo__paragrafo'>Com amor, baby Yoda</div>
        </div>
    </div>

{% endblock %}
