{% extends "babyoda/index.html" %}

{% load static %}

{% block import %}

    <link rel="stylesheet" href="{% static 'css/lista.css' %}">

{% endblock %}

{% block content %}

    <div class="conteiner__lista">
        
        <h1 class="lista__titulo">Lista</h1>

        <form action="{% url 'babyoda:carrinho' %}" method="post" class="form_lista"> {% csrf_token %}
            
            {% for item in lista %}
                <div class="box">

                    <div class="box__imagem">
                        <img src="{{ item.imagem.url }}" alt="{{ item.item }}" class="box__imagem--foto">
                    </div>

                    <div class="box__informacao">
                        <input type="text" name="item" value="{{ item.item }}" class="informacao__item" readonly>
                        <input type="text" name="valor" value="{{ item.preco }}" class="informacao__item" readonly>
                        <select id="quantidade" name="quantidade" class='box__quantiadde' >
                            <option value='0'>0</option>
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='6'>6</option>
                            <option value='7'>7</option>
                            <option value='8'>8</option>
                            <option value='9'>9</option>
                            <option value='10'>10</option>
                        </select>
                    </div>
                </div>

            {% endfor %}

            <div class="box__botao">
                <input type="submit" class="form__btn">
            </div>
            
        </form>
    </div>

{% endblock %}

<input type="text" name="item" maxlength="255" required id="id_item"><